<header>
  <nav class="navbar navbar-expand-md navbar-light" style="background: #b4dfff;">
    <a class="navbar-brand" href="/urls" style="font-weight: 500;">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div class="navbar-nav ml-auto justify-content-end">
          <% if (user !== undefined) { %>
            <form class="ml-auto" action="/logout" method="POST">
                <label for="username" style="margin-right: 10px;">
                  <span style="color: rgb(140, 140, 140);">Logged in as: </span>
                  <%= user.email %>
                </label>
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
          <% } else { %>
            <form class="ml-auto" action="/register" method="GET">
              <button class="btn btn-link" style="color: blue;">Register</button>
            </form>
            <form class="nav-item" action="/login" method="GET">
              <button class="btn btn btn-success" style="padding-left: 30px; padding-right: 30px;">Login</button>
            </form>
          <% } %>
    </div>
  </nav>
</header>